<!DOCTYPE html>
<html>
  <head>
    <title>CassieCreates</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- Get the value of status 1 and display with h1 -->
    <h1><%= status1 %></h1>
  </body>
</html>
